body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

.navbar{
    background:#111;
    color:white;
    padding:20px;
    font-size:28px;
    font-weight:bold;
}

.hero{
    padding:50px;
    text-align:center;
}

.products{

    max-width:1200px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:25px;

    padding:30px;

}

.card{

    background:white;

    padding:20px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.card h2{

    margin-top:0;

}

.card button{

    width:100%;

    padding:15px;

    border:none;

    background:#d7ff2f;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    margin-top:20px;

}
